<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Mich</mat-card-title>
      <mat-card-subtitle>Fondateur du site et débutant en cuisine</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of Mich eating" mat-card-image src="https://i.imgur.com/n5Ppt3l.jpg">
    <mat-card-content>
      <p>
        Mich is a vietnamese / french software engineer who wants to learn how to cook. He couldn't find a good
        website where he could have stored the recipes he found throughout his adventure, so he
        decided that he would make his own.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <div>
    <h2>
      TO DO LIST
    </h2>
    <mat-list>
      <div mat-subheader>Algorithm</div>
      <mat-list-item *ngFor="let algorithmSuggestion of algorithmSuggestions">
        <mat-icon mat-list-icon>east</mat-icon>
        <div mat-line>{{algorithmSuggestion}}</div>
      </mat-list-item>


     <mat-divider></mat-divider>
      <div mat-subheader>Graphical</div>
      <mat-list-item *ngFor="let graphicalSuggestion of graphicalSuggestions">
        <mat-icon mat-list-icon>east</mat-icon>
        <div mat-line>{{graphicalSuggestion}}</div>
      </mat-list-item>
    </mat-list>


  </div>
</div>
