<mat-form-field>
  <mat-label>Filtre de recherche</mat-label>
  <input matInput type="text"
         [(ngModel)]="searchValue" placeholder="quick filter..." />
</mat-form-field>



<ag-grid-angular
  style="width: 100%; height: 100%;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  [quickFilterText]="searchValue"
  (gridReady)="onGridReady($event)"
  (rowDataChanged)="autoSizeAll()"
  (rowClicked)="ouvrirRecette()"
>
</ag-grid-angular>
