<div class="informations-random-recette-div">
  <div style="display:grid; grid-template-columns: 1fr auto;">
    <h2>{{recette.nom}}</h2>
    <h3>{{recette.temps_total}}</h3>
  </div>

  <hr style="margin: 0">

  <p style="text-align:justify; font-size: 15px; margin-top: 15px;"> {{recette.description}}</p>
  <div class="ingredients-div">
    <mat-list>
      <div mat-subheader>Ingrédients</div>
      <mat-selection-list style="">
        <mat-list-option *ngFor="let ingredient of recette.liste_ingredients"
                         checkboxPosition="before"
                         class="ingredients-list"
        >{{ingredient.quantite}} {{ingredient.nom}} </mat-list-option>
      </mat-selection-list>
    </mat-list>
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <div class="etapes-div">
    <mat-list class="test">
      <div mat-subheader>Étapes</div>
      <mat-list-item *ngFor="let etape of recette.liste_etapes; let i = index;" checkboxPosition="before"
                     class="etapes-list">
        {{i + 1}}. {{etape}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
