.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/*Original (5 recipe per row) */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  height: 550px;
}


/*Smaller 1 (4 recipe per row) */
@media screen and (max-width: 1600px) {
  .column {
    flex: 25%;
    max-width: 25%;
  }
  .column img {
    vertical-align: middle;
    width: 100%;
    height: 450px;
  }
}
/*Smaller 2 (3 recipe per row) */
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1060px) {
  .column {
    flex: 33.333333333333%;
    max-width: 33.333333333333%;
  }
  .column img {
    vertical-align: middle;
    width: 100%;
    height: 450px;
  }
}


/*Smaller 3*/
@media screen and (max-width: 600px) {
  .column {
    flex: 50.01%;
    max-width: 50.01%;
  }
  .column img {
    vertical-align: middle;
    width: 100%;
    height: 600px;
  }
}





h2 {
  font-family: "Perpetua";
  font-style: italic;
  font-size: 28px;
  text-align: center;
  margin: 0px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-form-field {
  margin-left: 10px;
  margin-top: 10px;
}
