<head>
  <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet" type="text/css"/>
</head>

<mat-form-field>
  <mat-label wid>Filtre de recherche</mat-label>
  <input (keyup)="filtrerRecette(filtre, false)" (keydown.enter)="filtrerRecette(filtre, true)" width="30%" matInput type="text"
         [(ngModel)]="filtre"/>
</mat-form-field>
<!--<button mat-button (click)="filtrerRecette(filtre, false)">Filtrer les recettes</button>-->
<button mat-button (click)="filtrerRecette(filtre, true)">Annuler le filtre</button>

<div class="row"
     style="margin-left: 0.5%; margin-right: 0.5%;">
  <div *ngFor="let recette of rowData" class="column">
    <h2>{{recette.nom}}</h2>
    <img (click)="ouvrirRecette(recette)" src={{recette?.lien_image}} style="cursor: pointer; border: solid 2px; border-radius: 60px;">
  </div>
</div>
