.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    /*flex: 100%;*/
    /*max-width: 600px;*/
    /*width: 100px;*/
  }
}

h2 {
  font-family: "Perpetua";
  font-style: italic;
  font-size: 28px;
  text-align: center;
  margin: 0px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-form-field {
  margin-left: 10px;
  margin-top: 10px;
}
