.random-button {
  text-align: center;
  font-size: 40px;
  margin-top: 1%;
  width: 35%;
  height: 60px;
  background-color: lavender;
  color: black;
}

.informations-random-recette-div {
  margin-left: 300px;
}


.center-cropped {
  margin-left: 100px;
  height: 700px;
  width: 500px;
  border: solid;
  float: left;
  max-width: 100%;
  margin-right: 30px;
}

.ingredients-div {
  padding: 0px 0px 16px 0px;
  min-width: 10%;
  max-width: 70%;
  float:left;
}

.etapes-div {
  min-width: 0px;
  max-width: 50%;
  float:left;
}

bodybg-color {
  background-color: blue;
}
